.wrapper
  %header
    .logo
    %nav.site_sections
  %section.banner
    .photos
    .banner_info
  %section.quick_news
  %section.main
    .main_content
      #{ markdown @page.content }
    .latest_articles
  %section.ruby_tij_network_sites
  %footer
    %p CC rubytij
