.row-fluid
  .span3
    %ul.nav.nav-pills.nav-stacked= render :partial => 'internal_nav', :collection => @related, :as => :page

  .span9
    %h1= @page.title.titleize
    :plain
      #{ markdown @page.content }
