- content_for :additional_content do
  %ul.nav.nav-pills.nav-stacked= render :partial => 'internal_nav', :collection => @related, :as => :page

%h1= @page.title.titleize
:plain
  #{ markdown @page.content }
