defaults: &defaults
  GITHUB_ID:    daefbbe9a532
  GIHUB_SECRET: 447447493db7c27eb72a642755e219e1
  disqus:
    account:    example
    developer:  true

test:
  <<: *defaults
development:
  <<: *defaults
production:
  <<: *defaults
