defaults: &defaults
  adapter: postgresql
  encoding: utf8
  pool: 5
  host: localhost
  username: postgres

development:
  <<: *defaults
  database: usergroup_development

test:
  <<: *defaults
  database: usergroup_test

production:
  <<: *defaults
  database: usergroup_development
  username: usergroup
