= simple_form_for [ current_user, post ] do |f|
  = f.input :title
  .wmd-panel
    #wmd-button-bar
    = f.input :content, :label => false, :input_html => { :id => 'wmd-input', :class => 'wmd-input' }
  = f.submit
