@import 'compass';
@import 'bootstrap';
@import 'bootstrap-responsive';

$ruby_color: #7c202b;

$tag_cloud: #bbb;

.tag_cloud {
  a.frozen {
    font-size: 1.0em;
    color: $tag_cloud;
  }

  a.cold {
    font-size: 1.2em;
    color: darken( $tag_cloud, 25% );
  }

  a.warm {
    font-size: 1.4em;
    color: darken( $tag_cloud, 50% );
  }

  a.hot-tamale {
    font-size: 1.6em;
    color: darken( $tag_cloud, 75% );
  }
}

img.avatar {
  @include border-radius( 50% );
  @include box-shadow( 1px 2px 5px #888 );
  background-color: #333;
  display: block;
}

.excerpt {
  height: 120px;
  width: 100%;
}

.post {
  margin-bottom: 20px;
  h1 {
    color: $ruby_color;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
  }
  .excerpt {
    height: auto;
  }
  .post-actions {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #efefef;
    padding:4px;
  }
}
