- symbolize = 'activerecord.symbolizes.page.section'
- [ Page.home.first, Page.about.first, Page.meetings.first ].compact.each do |page|
  %li= link_to t("#{ symbolize }.#{ page.section }"), section_page_path( page.section, page )
